// Colors
$bgcolor: #e9ebee;

// $bgbutton: #B4BFBF;
$bgbutton: rgba(180, 191, 191, 0.9);

$color: #444;

//Sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//Mixins
@mixin atSmall() {
  @media (min-width: 530px) {
    @content;
  }
}

@mixin atMedium() {
  @media (min-width: 800px) {
    @content;
  }
}

@mixin atLarge() {
  @media (min-width: 1010px) {
    @content;
  }
}
