ul.level,
ul.clef {
  position: absolute;
}

.button__mode {
  margin-left: -20rem;
  transition: 0.2s ease-out;
  position: relative;
  border: 1px solid #777;
  background-color: $bgbutton;
  letter-spacing: 1px;
  font-size: 85%;
  width: 6.3rem;
  margin-bottom: 1.2rem;
  height: 2.1rem;
  line-height: 2.1rem;
  z-index: 10;

  &.isShowing {
    margin-left: -1rem;
    @include atSmall {
      margin-left: 0;
    }
  }

  &.selected {
    color: #fafafa;
    background-color: steelblue;
  }

  @include atSmall {
    font-size: 90%;
    width: 6.4rem;
    height: 2.2rem;
    line-height: 2.2rem;
  }

  @include atMedium {
    margin-left: 0;
    font-size: 105%;
    width: 8rem;
    height: 2.7rem;
    margin-bottom: 1.5rem;
    line-height: 2.7rem;
  }
}

.button__mode--level {
  top: -15rem;

  @include atSmall {
    top: -17.6rem;
    left: 0.2rem;
  }

  @include atMedium {
    top: -18rem;
    left: -1rem;
  }
}

.button__mode--clef {
  top: -5rem;

  @include atSmall {
    top: -17.5rem;
    left: 8.2rem;
  }

  @include atMedium {
    top: -18rem;
    left: 8.5rem;
  }
}

.button__info {
  margin-left: -40rem;
  display: block;
  position: absolute;
  top: 4.6rem;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s ease-out;
  border: 1px solid #777;
  text-align: center;
  background-color: rgba(180, 191, 191, 0.9);
  font-size: 85%;
  width: 8.2rem;
  letter-spacing: 1px;
  line-height: 1.8rem;
  z-index: 10;

  &.isShowing {
    margin-left: 0;
  }

  @include atSmall {
    padding-top: 0.2rem;
    margin-left: -2rem !important;
    transform: none;
    position: static;
    display: block;
    background: steelblue;
    border: 2px solid rgba(180, 191, 191, 0.9);
    font-size: 90%;
    width: 9rem;
    font-weight: 300;
  }

  @include atMedium {
    margin-left: 0 !important;
    font-size: 105%;
    font-weight: normal;
    width: 10.7rem;
    letter-spacing: 2px;
    padding-top: 0.4rem;
  }
}

.button__info.is-showing {
  display: block;
  transition: none;
}

.button__back {
  color: #fafafa;
  position: absolute;
  left: 4%;
  top: 0.6rem;
  font-size: 80%;
  font-weight: 300;
  display: block;
  width: 12.5rem;
  background: steelblue;
  border: 2px solid rgba(180, 191, 191, 0.9);
  letter-spacing: 1px;
  padding: 2px 0;

  @include atSmall {
    font-size: 90%;
    width: 14rem;
    top: 0.6rem;
  }
  @include atMedium {
    top: 0.8rem;
    font-size: 100%;
    font-weight: normal;
    width: 15.5rem;
    padding-top: 3px;
  }
}

.button__email {
  color: #fafafa;
  position: absolute;
  background: steelblue;
  border: 2px solid rgba(180, 191, 191, 0.9);
  font-size: 80%;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 2px 0;
  width: 9.5rem;
  top: 4.5rem;
  right: 6%;
  a {
    text-decoration: none;
    color: #fafafa;
  }

  @include atSmall {
    font-size: 90%;
    width: 10rem;
    right: 4%;
    top: 0.6rem;
  }
  @include atMedium {
    right: 4%;
    top: 0.8rem;
    line-height: 1rem;
    padding: 7px 0 6px 0;
    font-size: 100%;
    font-weight: normal;
    width: 11.5rem;
  }
}

.button__back.link {
  color: #fafafa !important;
}

.link {
  color: #333;

  @include atSmall {
    color: #fafafa;
  }
}

.hamburger,
.cross {
  position: absolute;
  border: none;
  background-color: #e9ebee;
  cursor: pointer;

  @include atMedium {
    display: none;
  }
}

.hamburger {
  cursor: pointer;
  outline: none;
  padding: 0;
  left: 1rem;
  top: 4.6rem;

  @include atSmall {
    left: 1rem;
    top: 5rem;
  }
}

.cross {
  display: none;
  outline: none;
  padding: 0;
  font-size: 105%;
  font-weight: 100;
  left: 1rem;
  top: 4.6rem;

  @include atSmall {
    left: 1rem;
    top: 5rem;
  }
  @include atMedium {
    display: none !important;
  }
}
