.content {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.notes {
  position: relative;
  top: 3rem;
  width: 11rem;
  height: 13.5rem;
  border-radius: 5%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

  @include atSmall {
    position: static;
    width: 13rem;
    height: 16rem;
  }

  @include atMedium {
    width: 14rem;
    height: 16.5rem;
  }
}
